{% load_banners position: 'footer-protect-logo' limit: 1 %}
{% load_payment_icons %}

<div class="payment">
  <div class="seguranca-pagamento-envio">
    <div class="seguranca">
      <h3>SEGURANÇA</h3>
      {% for banner in loaded_banners %}
        <a href="{{ banner.url }}" {% if banner.external %} target="_blank" {% endif %}>
          <img 
            class="lazy"
            data-src="{{ banner.file_url | resize:'100x' }}" 
            alt="{{ current_shop.name }}" 
            loading="lazy"
          />
        </a>
      {% endfor %}
    </div>

    <div class="pagamento">
      <h3>PAGAMENTO</h3>
      <nav class="payment-icons">
      {% for payment in loaded_payment_icons %}
        <img 
          class="lazy" 
          data-src="{{ payment.svg_url }}" 
          alt="{{ payment.title }}"
          loading="lazy"
        />
      {% endfor %}
      </nav>
    </div>

    <div class="forma-envio">
      <h3>FORMAS DE ENVIO</h3>
    </div>
  </div>
  
</div>

